/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}




body {

    background-color:black;
	
}


div#container {
	
}


p{
  font-size:4em;
    line-height:1em;
}



span.laid{
    color:white;
}


span.island{
    color:yellow;
    position:relative;
    top:40px;
    
}


span.thousand{
    color:green;
    position:relative;
    top:80px;
}


span.onit{
    color:cadetblue;
    position:absolute;
    top:300px;
    left:1px;   
}

span.strange{
    color:orangered;
    position:absolute;
    top:360px;
    left:220px;
}

span.dot{
    font-size:20em;
    color:fuchsia;
    position:fixed;
    top:150;
}

p.ohmygod{
    background-color:red;
    color:white;
    text-shadow: 3px 3px;
    position:fixed;
    top:-10px;
    left:600px;  
}

p.ohmygodblue{
    background-color:blue;
    color:white;
    text-shadow: 3px 3px;
    position:fixed;
    top:75px;
    left:600px;
}

p.ohmygodyellow{
    background-color:yellow;
    color:white;
    text-shadow: 3px 3px;
    position:fixed;
    top:145px;
    left:600px;
}

p.long{
    color:white;
    font-size:1.5em;
}

div#apple {
    background-color:red;
    height: 400px;
    width:200px;
    border: 10px solid white;
    
}