/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}




body {
	background-color:#3698FF;
	
}

div#headbar {
    width:100%;
    height:100px;
    background-color:red;
    position:fixed;
    top:0px;
    display:inline-flex;
    flex-direction:row;
}
#logobbox {
    order: 1;
    padding: 0;
    margin: 0;    
}
#logobboxlogo {
        height: 100px;
        width: 100px;
        padding: 0;
        margin: 0;
    }
#headernav {
    display:inline-flex;
    padding: 0px;
    order: 2;
    flex-direction: column;
    width: 100%;
}
#titlebox{
    order: 1;
    width: 100%;
    height: 50px;
}
#buttons{
    order: 2;
    width: 100%;
    background-color: yellow;
    height: 50px;
}

div#container {
	margin:auto;
    margin-top: 100px;
    margin-bottom: 0px;
    z-index: 1;
}

.paragraph {
    background-color:orange;
    padding:10px;
    margin-left: 80px;
    margin-right: 80px;
    margin-top:0px;
    width: auto;
}

#firstlogo {
    width: 100%;
    height: auto;
}

#title {
    font-size:45px;
    color:white;
    margin:0px;
    text-align: center;
}

nav {
    width: 100%;
}

nav ul{
    list-style:none;
    padding-left:0px;
    background-color:yellow;
    margin-top: 0px; 

    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    
}

nav li{
    text-align:center;
    display:inline-flex;
}

nav ul.horizontal li {
    display: inline-flex;    
}

nav a{
    text-decoration:none;
    border:1px solid black;
    padding:5px;
    margin:5px;
    display:inline-flex;
    border-radius:10px;
    background:orange;
    color:white;
}


nav a:hover {
    background:orange;
    border-radius:0px;
}



/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    div#headbar{        
        height:30px;
    }  
    #titlebox{        
        height:15px;
    } 
    #buttons{        
        height:15px;
    }     
    #title {
        font-size:12px;
        height:15px;
        
    }     
    div#container {
        margin-top: 30px;
    }
    #logobboxlogo {
        height: 30px;
        width: 30px;
    }   
    .paragraph {
        padding:3px;
        margin-left: 10px;
        margin-right: 10px;
    }     
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    div#headbar {        
        height:50px;  
    }
    #titlebox{        
        height:25px;
    } 
    #buttons{        
        height:25px;
    }     
    #title {
        font-size:45px;
        height:25px;
    }     
    div#container {
        margin-top: 50px;
    }
    #logobboxlogo {
        height: 50px;
        width: 50px;
    } 
    .paragraph {
        padding:5px;
        margin-left: 10px;
        margin-right: 10px;
    }     
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    div#headbar {        
        height:100px;
    }
    #titlebox{        
        height:50px;
    } 
    #buttons{        
        height:50px;
    }     
    #title {
        font-size:45px;
        height:50px;
    }      
    div#container {
        margin-top: 100px;
    }
    #logobboxlogo {
        height: 100px;
        width: 100px;
    } 
    .paragraph {
        padding:5px;
        margin-left: 80px;
        margin-right: 80px;
    }     
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    div#headbar {        
        height:100px;
    }
    #titlebox{        
        height:50px;
    } 
    #buttons{        
        height:50px;
    }       
    #title {
        font-size:45px;
        height:50px;
    }      
    div#container {
        margin-top: 100px;
    }
    #logobboxlogo {
        height: 100px;
        width: 100px;
    }      
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    div#headbar {        
        height:100px;
    }
    #titlebox{        
        height:50px;
    } 
    #buttons{        
        height:50px;
    }       
    #title {
        font-size:45px;
        height:50px;
    }      
    div#container {
        margin-top: 100px;
    }
    #logobboxlogo {
        height: 100px;
        width: 100px;
    }      
}


