/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

html {
    /* Standard text-settings below */
    font-size: 1em;
    line-height: 1.4em;
}




body {
    background-color: #3698FF;

}

div#headbar {
    width: 100%;
    height: 100px;
    background-color: red;
    position: fixed;
    top: 0px;
    display: inline-flex;
    flex-direction: row;
    z-index: 5;
}

#logobbox {
    order: 1;
    padding: 0;
    margin: 0;
}

#logobboxlogo {
    height: 100px;
    width: 100px;
    padding: 0;
    margin: 0;
    background-color: #FF7BD0;
}

#headernav {
    display: inline-flex;
    padding: 0px;
    order: 2;
    flex-direction: column;
    width: 100%;
}

#titlebox {
    order: 1;
    width: 100%;
    height: 50px;
}

#buttons {
    order: 2;
    width: 100%;
    background-color: yellow;
    height: 50px;
}

div#container {
    margin: auto;
    margin-top: 100px;
    margin-bottom: 0px;
    z-index: 1;
}

.paragraph {
    background-color: #FF6400;
    padding: 10px;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 0px;
    width: auto;
    height: auto;
    text-align: center;
    font-size: 23px;
    line-height: 30px;
    color: #00C943;
    text-shadow: 1px 1px 2px #59AAFF;
}

.paragraph.huge {
    font-size: 50px;
    height: auto;
}

#firstlogo {
    width: 100%;
    height: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}



#firstlogo.center {
    width: 50%;
}

.center.smaller {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

.center.tiny {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

#title {
    font-size: 45px;
    color: white;
    margin: 0px;
    margin-top: 10px;
    text-align: center;
}

nav {
    width: 100%;
}

nav ul {
    list-style: none;
    padding-left: 0px;
    background-color: yellow;
    margin-top: 0px;

    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

}

nav li {
    text-align: center;
    display: inline-flex;
}

nav ul.horizontal li {
    display: inline-flex;
}

nav a {
    text-decoration: none;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    display: inline-flex;
    border-radius: 10px;
    background: orange;
    color: white;
}


nav a:hover {
    background: #FF7BD0;
    ;
    border-radius: 0px;
}

div#peepshowa {
    position: absolute;
    display: block;
    width: 100px;
    height: 100px;
    top: 100px;
    left: 300px;
    transition: all 1s;
    opacity: 0%;
}

.orangeheart {
    width: 200px;
    height: 200px;
}

div#peepshowa:hover {
    opacity: 100%;
}

div#peepshowb {
    position: absolute;
    display: block;
    width: 200px;
    height: 200px;
    top: 200px;
    left: 650px;
    transition: all 1s;
    opacity: 0%;
}

.trio {
    height: 250px;
    width: 800px;
}

div#peepshowb:hover {
    opacity: 100%;
}

div#peepshowc {
    position: absolute;
    display: block;
    width: 400px;
    height: 400px;
    top: 400px;
    left: 100px;
    opacity: 100%;
    transition: all 1s;
    opacity: 0%;
}

.muscleone {
    height: 400px;
    width: 400px;
}

div#peepshowc:hover {
    opacity: 100%;
}

div#peepshowd {
    position: absolute;
    display: block;
    width: 400px;
    height: 400px;
    top: 500px;
    left: 600px;
    transition: all 1s;
    opacity: 0%;
}

.muscletwo {
    height: 400px;
    width: 400px;
}

div#peepshowd:hover {
    opacity: 100%;
}

div#peepshowe {
    position: absolute;
    display: block;
    width: 400px;
    height: 400px;
    top: 120px;
    left: -20px;
    transition: all 1s;
    opacity: 0%;
}

.musclethree {
    height: 300px;
    width: 300px;
}

div#peepshowe:hover {
    opacity: 100%;
}

div#peepshowf {
    position: absolute;
    display: block;
    width: 400px;
    height: 400px;
    top: 130px;
    left: 450px;
    transition: all 1s;
    opacity: 0%;
}

.musclefour {
    height: 300px;
    width: 300px;
}

div#peepshowf:hover {
    opacity: 100%;
}

/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    div#headbar {
        height: 50px;
    }

    #titlebox {
        height: 25px;
    }

    #buttons {
        height: 25px;
    }

    #title {
        font-size: 25px;
        height: 25px;
        margin-top: 5px;
    }

    div#container {
        margin-top: 50px;
    }

    #logobboxlogo {
        height: 50px;
        width: 50px;
    }

    .paragraph {
        padding: 5px;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 10px;
        border: 3px solid #FF7BD0;
        height: auto;
    }

    .paragraph.huge {
        font-size: 20px;
        height: auto;
    }

    nav {
        height: 25px;
    }

    nav a {
        height: 20px;
        border: 1px solid black;
        padding: 0px;
        margin: 2px;
        font-size: 9px;
        display: inline-flex;
        border-radius: 1px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    div#headbar {
        height: 50px;
    }

    #titlebox {
        height: 25px;
    }

    #buttons {
        height: 25px;
    }

    #title {
        font-size: 25px;
        height: 25px;
        margin-top: 5px;
    }

    div#container {
        margin-top: 50px;
    }

    #logobboxlogo {
        height: 50px;
        width: 50px;
    }

    .paragraph {
        padding: 5px;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 13px;
        border: 5px solid #FF7BD0;
    }

    .paragraph.huge {
        font-size: 20px;
        height: auto;
    }

    nav {
        height: 25px;
    }

    nav a {
        height: 20px;
        border: 1px solid black;
        padding: 0px;
        margin: 2px;
        font-size: 9px;
        display: inline-flex;
        border-radius: 1px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    div#headbar {
        height: 100px;
    }

    #titlebox {
        height: 50px;
    }

    #buttons {
        height: 50px;
    }

    #title {
        font-size: 45px;
        height: 50px;
        margin-top: 10px;
    }

    div#container {
        margin-top: 100px;
    }

    #logobboxlogo {
        height: 100px;
        width: 100px;
    }

    .paragraph {
        padding: 5px;
        margin-left: 80px;
        margin-right: 80px;
        border: 5px solid #FF7BD0;
    }

    .paragraph.huge {
        font-size: 50px;
        height: auto;
    }

    nav {
        height: 50px;
    }

    nav a {
        height: inherit;
        border: 1px solid black;
        padding: 3px;
        margin: 5px;
        font-size: inherit;
        display: inline-flex;
        border-radius: 3px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    div#headbar {
        height: 100px;
    }

    #titlebox {
        height: 50px;
    }

    #buttons {
        height: 50px;
    }

    #title {
        font-size: 45px;
        height: 50px;
        margin-top: 10px;
    }

    div#container {
        margin-top: 100px;
    }

    #logobboxlogo {
        height: 100px;
        width: 100px;
    }

    .paragraph {
        font-size: 23.5px;
        height: auto;
        padding: 15px;
        color: #FFFF00;
        border: 5px solid #FF7BD0;
    }

    .paragraph.huge {
        font-size: 50px;
        height: auto;
    }

    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        div#headbar {
            height: 100px;
        }

        #titlebox {
            height: 50px;
        }

        #buttons {
            height: 50px;
        }

        #title {
            font-size: 45px;
            height: 50px;
            margin-top: 10px;
        }

        div#container {
            margin-top: 100px;
        }

        #logobboxlogo {
            height: 100px;
            width: 100px;
        }
    }